@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;

}

.preguntas,
.grupo, 
.preg,
.rtas {
    display: flex;
}
 
.grupo,
.preg {
    flex-direction: column;
}


body {
    background-color: rgb(8, 7, 7);
}

.título {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 50px;
    margin-bottom: 30px;
    color: whitesmoke;
}

.contenido {
    align-self: center;
}

.preguntas {
    justify-content: center;
}

.grupo {
    font-size: 20px;
    color: white;
    border-radius: 20px;
    padding: 60px;
    margin: 20px;
    margin-bottom: 100px;
}

.preg {
    margin-block: 30px;
    gap: 15px;
}

.hist {
    background-color: rgb(38, 139, 138);
}

.ent {
    background-color: rgb(243, 70, 105);
}

.ciencia {
    background-color: rgb(117, 143, 4);
}

.arte {
    background-color: rgb(117, 45, 99);
}

.deportes {
    background-color: rgb(217, 31, 31);
}

.cambalache {
    background-color: darkorange;
}

button {
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.hist button:hover {
    color: white;
    background-color:rgb(24, 83, 81);
    
}

.ent button:hover {
    color: white;
    background-color:rgb(112, 31, 47);
    
}

.ciencia button:hover {
    color: white;
    background-color:rgb(54, 65, 2);
    
}

.deportes button:hover {
    color: white;
    background-color:rgb(121, 18, 18);
    
}

.arte button:hover {
    color: white;
    background-color:rgb(54, 21, 46);
    
}

.cambalache button:hover {
    color: white;
    background-color: rgb(122, 67, 0);
}

.rtas {
    gap: 20px;
}